.page-wrapper {
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* La caja  central */
.content-box {
    width: 75%; 
    min-height: calc(100vh - 350px);
    position: relative;
}

/* Buscador grande */
.search-form-lg {
    border: 1px solid #e0e0e0;
}
.search-form-lg input:focus {
    box-shadow: none;
    border-color: #e0e0e0;
}
.btn-mercadona-green {
    background-color: #007a4d;
    border: 1px solid #007a4d;
}
.btn-mercadona-green:hover {
    background-color: #005f3b;
}

/* Textos color Mercadona */
.text-mercadona {
    color: #007a4d;
}

/* Iconos de contacto */
.contact-icon {
    height: 70px;
    width: auto;
    object-fit: contain;
}
.contact-col {
    padding: 0 1.5rem;
}

/* Tarjetas de Temas (FAQ) */
.topic-card {
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: white;
    border: 1px solid #f0f0f0;
    cursor: pointer;
}
.topic-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-color: #007a4d;
}
.topic-card:hover i, .topic-card:hover .topic-title {
    color: #007a4d !important;
}
.topic-title {
    font-size: 0.75rem;
    font-weight: bold;
    color: #007a4d;
    display: block;
    margin-top: 0.5rem;
}

.bg-mercadona {
    background-color: #007a4d;
}

.page-wrapper .footer {
    background-color: #007a4d !important;
    color: white;
}

/* Responsive */
@media (max-width: 992px) {
    .content-box {
        width: 100%;
    }
    .help-bubble {
        display: none;
    }
}